{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="text-uppercase mb-4" style="font-weight: 600;">Shopping Cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <!-- Table displays if user has items in shopping cart -->
                {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if item.product.image %}
                                    <a href="{% url 'product_detail' item.item_id %}">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' item.item_id %}">
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ item.product.name }}">
                                    </a>
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class=""><strong>{{ item.product.name }}</strong></p>
                                    <p class="small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    <p class=""><strong>Unit Price: </strong>${{ item.product.price }}</p>
                                    <p class=""><strong>Quantity:</strong></p>
                                    <form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group border w-25">
                                            <div class="input-group input-group-{{ item.item_id }}">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ item.item_id }} 
                                                        {% if item.size %}decrement-size_{{ item.item_id }}_{{ item.size }}{% endif %}" 
                                                        data-item_id="{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} 
                                                    {% if item.size %}size_{{ item.item_id }}_{{ item.size }}{% endif %}" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ item.item_id }} 
                                                        {% if item.size %}increment-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                                                        data-item_id="{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <button class="update-link btn btn-sm btn-primary rounded-pill">
                                        <a class="text-white text-decoration-none"><small>Update</small></a>
                                        <i class="fa-solid fa-rotate-right"></i>
                                    </button>
                                    <button class="remove-item btn btn-sm btn-danger rounded-pill" id="remove_{{ item.item_id }}">                                        
                                        <a class="text-white text-decoration-none"><small>Remove</small></a>
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>${{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Cart Total: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Subtotal: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_target > 0 %}
                                    <p class="mb-1 text-danger">
                                        Get free delivery by spending just <strong>${{ free_delivery_target }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-blue rounded-pill btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-black rounded-pill btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <div class="pb-5 mb-5">
                    <p class="lead mb-5">Your Shopping Cart is empty</p>
                    <p class="mb-5">To help you with your product selection, you can compare products or use our convenient search function at the top.</p>
                    <!-- Keep shopping button appears left on medium screens and up -->
                    <div class="text-center d-sm-none">
                        <a href="{% url 'products' %}" class="btn btn-blue rounded-pill btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                    <!-- Keep shopping button appears center on small screens -->
                    <div class="d-none d-sm-block">
                        <a href="{% url 'products' %}" class="btn btn-blue rounded-pill btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                </div>
                <!-- Spacer shown on medium and large screens prevent footer from lifting -->
                <div class="d-none d-md-block pb-5 mb-5"></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        // Assign update form to variable
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        // Get item id by splitting after 'remove_'
        var itemId = $(this).attr('id').split('remove_')[1];
        // Get removal url
        var url = `/cart/remove/${itemId}/`;
        // Object used to send this data to the server
        var data = {'csrfmiddlewaretoken': csrfToken};

        // post to server & when done, reload page
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
