        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ item.item_id }}" 
                    data-item_id="{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm border-0 qty_input id_qty_{{ item.item_id }}" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ item.item_id }}"
                    data-item_id="{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>