{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Heading Row -->
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <hr>
                <h2 class="text-uppercase mb-4" style="font-weight: 600;">Thank You For Your Order!</h2>
                <hr>
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
        <!-- Order Summary Row -->
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <p class="my-0 font-weight-bold">Order Info</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Order Number:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.order_number }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Order Date:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.date }}</small>
                        </div>
                    </div>
                    <!-- Order Details -->
                    <div class="row my-3">
                        <div class="col">
                            <p class="my-0 font-weight-bold">Order Details</p>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <!-- Product Information -->
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-lg-3 col-md-4 mb-1">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-12 col-lg-5 col-md-6">
                            <p class="small mb-0  font-weight-bold">
                                {{ item.product.name }}
                            </p>
                        </div>
                        <div class="col-12 col-lg-4 col-md-2 text-md-right">
                            <p class="small mb-0">{{ item.quantity }} @ ${{ item.product.price }} each</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    <!-- Delivery Information -->
                    <div class="row">
                        <div class="col">
                            <p class="my-0 font-weight-bold">Delivery Info</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Full Name:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.full_name }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Address 1:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.street_address1 }}</small>
                        </div>
                    </div>
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Address 2:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.street_address2 }}</small>
                        </div>
                    </div>
                    {% endif %}
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">County:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.county }}</small>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Town or City:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.town_or_city }}</small>
                        </div>
                    </div>
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Postal Code:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.postcode }}</small>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Country:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.country }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Phone Number:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>{{ order.phone_number }}</small>
                        </div>
                    </div>
                    <!-- Billing Information -->
                    <div class="row">
                        <div class="col">
                            <p class="my-0 font-weight-bold">Billing Info</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Order Total:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>${{ order.order_total }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Delivery:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            {% if order.delivery_cost == 0 %}
                            <small>FREE DELIVERY!</small>
                            {% else %}
                            <small>${{ order.delivery_cost }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mobile-bold-font">Grand Total:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small>${{ order.grand_total }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Deals Link -->
        <div class="row my-3">
			<div class="col-12 text-center mt-5">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-blue rounded-pill pr-3">
                        <span class="icon">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-blue rounded-pill pr-3">
                        <span class="icon mr-1">
                            <i class="fa-solid fa-tags"></i>
                        </span>
                        <span class="text-uppercase">Check out some new deals!</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}