.order-history {
    max-height: 416px; /* Height of profile form + submit button */
    overflow-y: auto;
}

/* Set input text color to black */
#profile-update-form .form-control {
    color: #050316;
}

#profile-update-form input,
select#id_default_country {
    border: 1px solid #7c7c7c;
    border-radius: 10px;
}

/* #profile-update-form input#id_profile_image {
    border: none;
} */

/* Set placeholder inputs to light grey */
#profile-update-form input::placeholder {
    color: #aab7c4;
}

/* Set the country field itself (except for the first option) black by default */

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #050316;
}

/* Set the first country option light grey */

#id_default_country option:first-child {
    color: #aab7c4;
}