* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #fbfbfe;
}

.heading-font {
    text-transform: uppercase;
    font-weight: 600;
}

/* ------ Nav Section ------ */

.main-logo-link {
    width: fit-content;
}

#search-icon i,
#search-icon p,
#user-options i,
#user-options p,
.cart i,
.cart p {
    color: white;
}

.solid-bg {
    background-color: #2f27ce;
}

.navbar-bg {
    background-color: rgba(0, 0, 0, 0.3)
}

.navbar-bg.active {
    background-color: #2f27ce;
    transition: background-color 0.3s ease;
}

#desktop-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.search-bar-radius {
    border-radius: 20px;
}

input.form-control.desktop-search-bar {
    border-top: 0.1px solid #7c7c7c;
    border-left: 0.1px solid #7c7c7c;
    border-bottom: 0.1px solid #7c7c7c;
    border-right: none;
}

.desktop-search-bar-button {
    border-top: 0.1px solid #7c7c7c;
    border-right: 0.1px solid #7c7c7c;
    border-bottom: 0.1px solid #7c7c7c;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.desktop-search-bar-icon {
    border: white;
    border-radius: 20px;
}

.border-gray {
    border: 0.1px solid #7c7c7c !important;
}

.no-left-border {
    border-left: none !important;
}

.no-right-border {
    border-right: none !important;
}

.search-box {
    position: absolute;
    border-radius: 20px;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background-color: #fbfbfe;
    width: 60%;
}

.search-box.active {
    top: 110%;
    transition: 0.2s all linear;
}

.search-box input {
    padding: 20px;
    width: 100%;
    font-size: 1rem;
    color: black;
}

.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}

/* .form-control {
    border-radius: 20px;
} */

.search-dropdown {
    border-radius: 20px;
    padding: 0;
}

/* from Bulma CSS Framework */
/* Centers all icons and sets to a default size */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ------ footer ------ */

footer{
    margin-top: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: contents;
}

.footer-container {
    margin-top: 80px;
    background-color: #050316;
    color: #fbfbfe;
}

.footer-link{
    text-decoration: none;
    color: #fbfbfe;
}

.footer-link:hover{
    text-decoration: none;
    color: #443dff;
}

.footer-social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-social-links a {
    color: #fbfbfe;
}

.footer-social-links a:hover {
    color: #443dff;
}

ul.fa-ul{
    margin-left: 0;
}

.open-hours{
    color: #fbfbfe;
    font-weight: 600;
}

.footer-copyright{
    color: #fbfbfe;
    max-width: 100%;
}

/* ------ Hero Section ------ */

.hero-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 160px;
    color: #fbfbfe;
    font-weight: 600;
}

.hero-content a {
    text-decoration: none;
    display: inline-block;
    color: #fbfbfe;
    font-size: 24px;
    border: 2px solid #fbfbfe;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* ------ Products Page ------ */

/* .page-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fbfbfe;
    z-index: -1;
} */

.product-heading-hr {
    height: 3px;
    background-color: #443dff;
    border-radius: 5px;
}

a.category-button > span.badge {
    color: #fbfbfe;
    background: #2f27ce;
    border: 2px solid #2f27ce;
    border-radius: 20px;
    letter-spacing: 1.5px;
}

a.category-button > span.badge:hover {
    color: #050316;
    background: #dddbff;
    border: 2px solid #2f27ce;
    transition: 0.2s all linear;
}

.product-card {
    padding: 15px;
    background: #dddbff;
    border-radius: 20px;
}

/* Sets all images the same height avoiding distortion */
/* .card-img-top {
    height: 380px; 
    object-fit: cover;
} */

.top-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #fbfbfe;
    background: #2f27ce;
    border: 2px solid #2f27ce;
}

.top-link {
    cursor: pointer;
}

/* ------ Product Detail Page ------ */

.stock-tag {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 100px;
    margin: 5px 0;
}

.in-stock {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.not-in-stock {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 120px;
}

.btn-black {
    background: #050316;
    color: #fbfbfe;
}

.btn-black:hover {
    color: #fbfbfe !important;
    background: #050316e1 !important;
}

/* ------ Cart ------ */

.btn-blue {
    color: #fbfbfe;
    background: #443dff;
    border: 2px solid #443dff;
}

.btn-blue:hover {
    color: #fbfbfe;
    background: #2f27ce;
    border: 2px solid #2f27ce;
}

/* ------ bootstrap toasts ------ */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-container {
    overflow: visible;
}

.cart-summary-container {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ------ Allauth Templates ------ */

/* pushes footer down to bottom of page */
.footer-spacer {
    padding-top: 40vh;
}

.allauth-inner-content-container p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

/* setting all input borders to gray with 10px radius */

.allauth-inner-content-container input {
    border-color: #7c7c7c !important;
    border-radius: 10px !important;
}

/* Hide labels on everything except for the remember me checkbox
   on login page as all other inputs will have placeholders */

.allauth-inner-content-container label:not([for='id_remember']) {
    display: none;
}

/* ensure placeholders are same color as rest of site */

.allauth-inner-content-container input::placeholder {
    color: #aab7c4;
}

/* Updating allauth default buttons and link color */

.allauth-inner-content-container button,
.allauth-inner-content-container input[type='submit'] {
	/* btn bootstrap style */
	display: inline-block;
    font-weight: 400;
    color: #fbfbfe;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #443dff;
    border: 1px solid #443dff;
    border-radius: 20px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-inner-content-container button:hover,
.allauth-inner-content-container input[type='submit']:hover {	
	color: #fbfbfe;
    background-color: #2f27ce;
    border-color: #2f27ce;
}

.allauth-inner-content-container a {
	color: #17a2b8; /* text-info */
}

/* ------ Media Queries ------ */

@media (max-width: 1430px) {
    /* .card-img-top {
        height: 300px; 
    } */
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 82px;
    }
}

/* Reduce nav link sizes on smaller screens */
@media (max-width: 991px) {

    .header-container {
        padding-top: 70px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.heading-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .hero-content h1 {
        font-size: 140px;
    }

    .btn.btn-blue,
    .btn.btn-black {
        padding: .375rem .375rem !important;
    }
}

@media (max-width: 767px) {
    
    /* Centers quantity form on smaller screens */
    .center-quantity-form {
        text-align: center;
    }

    .center-quantity-selector {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 670px) {

    .hero-content h1 {
        font-size: 100px;
    }

    .hero-content a {
        font-size: 18px;
        padding: 10px 66px;
    }
}

@media (max-width: 470px) {

    .hero-content h1 {
        font-size: 80px;
    }

    .hero-content a {
        font-size: 16px;
        padding: 8px 62px;
    }
}

@media (max-width: 370px) {

    .hero-content h1 {
        font-size: 70px;
    }

    .hero-content a {
        font-size: 16px;
        padding: 8px 62px;
    }

    /* .card-img-top {
        height: 250px; 
    } */
}