<ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item d-block d-lg-none">
        <a class="text-uppercase font-weight-bold text-white nav-link" href="{% url 'home' %}" id="home-link">
            Home
        </a>
    </li>
    <!-- All Products Dropdown -->
    <li class="nav-item dropdown">
        <a class="text-uppercase font-weight-bold nav-link text-white" href="#" id="all-products-link"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <a href="" class="dropdown-item">By Price</a>
            <a href="" class="dropdown-item ">By Rating</a>
            <a href="" class="dropdown-item ">By Category</a>
            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
        </div>
    </li>
    <!-- Parts Dropdown -->
    <li class="nav-item dropdown">
        <a class="text-uppercase font-weight-bold nav-link text-white" href="#" id="parts-link" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Parts
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="parts-link">
            <a href="" class="dropdown-item">Graphics Cards</a>
            <a href="" class="dropdown-item">CPUs</a>
            <a href="" class="dropdown-item">Memory</a>
            <a href="" class="dropdown-item">Motherboards</a>
            <a href="" class="dropdown-item">All Parts</a>
        </div>
    </li>
    <!-- Systems Dropdown -->
    <li class="nav-item dropdown">
        <a class="text-uppercase font-weight-bold nav-link text-white" href="#" id="systems-link" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Systems
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="systems-link">
            <a href="" class="dropdown-item">Full Tower</a>
            <a href="" class="dropdown-item">Laptops</a>
            <a href="" class="dropdown-item">HTPC</a>
            <a href="" class="dropdown-item">All Systems</a>
        </div>
    </li>
    <!-- Offers Dropdown -->
    <li class="nav-item dropdown">
        <a class="text-uppercase font-weight-bold nav-link text-white" href="#" id="specials-link"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Offers
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
            <a href="" class="dropdown-item">New Arrivals</a>
            <a href="" class="dropdown-item">Deals</a>
            <a href="" class="dropdown-item">Clearance</a>
            <a href="" class="dropdown-item">All Offers</a>
        </div>
    </li>
</ul>