<ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item d-block d-lg-none">
        <a class="text-uppercase font-weight-bold text-white nav-link" href="{% url 'home' %}" id="home-link">
            Home
        </a>
    </li>
    <!-- All Products Dropdown -->
    <li class="nav-item dropdown">
        <a class="text-uppercase font-weight-bold nav-link text-white" href="#" id="all-products-link"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
        </div>
    </li>
    <!-- Parts Dropdown -->
    <li class="nav-item dropdown">
        <a class="text-uppercase font-weight-bold nav-link text-white" href="#" id="parts-link" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Parts
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="parts-link">
            <a href="{% url 'products' %}?category=graphics_cards" class="dropdown-item">Graphics Cards</a>
            <a href="{% url 'products' %}?category=cpus" class="dropdown-item">CPUs</a>
            <a href="{% url 'products' %}?category=memory" class="dropdown-item">Memory</a>
            <a href="{% url 'products' %}?category=motherboards" class="dropdown-item">Motherboards</a>
            <a href="{% url 'products' %}?category=graphics_cards,cpus,memory,motherboards" class="dropdown-item">All Parts</a>
        </div>
    </li>
    <!-- Systems Dropdown -->
    <li class="nav-item dropdown">
        <a class="text-uppercase font-weight-bold nav-link text-white" href="#" id="systems-link" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Systems
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="systems-link">
            <a href="{% url 'products' %}?category=gaming_pcs" class="dropdown-item">Gaming PCs</a>
            <a href="{% url 'products' %}?category=office_pcs" class="dropdown-item">Office PCs</a>
            <a href="{% url 'products' %}?category=laptops" class="dropdown-item">Laptops</a>
            <a href="{% url 'products' %}?category=gaming_pcs,office_pcs,laptops" class="dropdown-item">All Systems</a>
        </div>
    </li>
    <!-- Offers Dropdown -->
    <li class="nav-item dropdown">
        <a class="text-uppercase font-weight-bold nav-link text-white" href="#" id="specials-link"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Offers
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
            <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Offers</a>
        </div>
    </li>
</ul>