{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <!-- Allows support for older browsers & prevents validation errors -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/324d5be901.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
  </script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>NexTech {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <!-- Navbar -->
  <header class="container-fluid fixed-top navbar-bg" id="outer-nav">
    </nav>
    <div class="row py-lg-2 d-none d-lg-flex">
      <!-- Main logo column -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <img src="{{ MEDIA_URL }}logo.jpg" alt="NexTech Logo" width="50" height="50" style="border-radius: 30px;">
        </a>
      </div>
      <!-- Main desktop nav -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <div id="desktop-nav">
          {% include 'includes/main-nav.html' %}
        </div>
      </div>
      <!-- Search, Account, and Cart Column -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <!-- Search Icon -->
          <li class="list-inline-item">
            <a class="text-black nav-link d-block" href="#" id="search-icon">
              <div class="text-center">
                <div><i class="fas fa-search fa-lg"></i></div>
                <p class="my-0 text-uppercase">Search</p>
              </div>
            </a>
          </li>
          <!-- Account Dropdown -->
          <li class="list-inline-item dropdown">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0 text-uppercase">Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <!-- Allows admins to manage products -->
              <a href="" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="" class="dropdown-item">Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <!-- Shopping Cart -->
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link cart"
              href="">
              <div class="text-center">
                <div><i class="fa-solid fa-cart-shopping"></i></div>
                <p class="my-0">
                  <!-- Checks and formats total -->
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Desktop Search Bar -->
    <div class="row d-none d-lg-flex">
      <form class="form" method="GET" action="">
        <div class="input-group search-box">
          <input class="form-control" type="text" name="q" placeholder="Search our site">
          <div class="input-group-append">
            <button class="form-control form-control" type="submit">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- Mobile Navigation Menu -->
    <div class="row d-lg-none d-block">
      <div class="navbar navbar-expand-lg w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="text-white fa-solid fa-bars"></i></span>
        </button>
        {% include 'includes/mobile-nav.html' %}
        <div class="collapse navbar-collapse" id="main-nav">
          {% include 'includes/main-nav.html' %}
        </div>
      </div>
    </div>
    <nav>
  </header>


  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <!-- footer -->
  <div class="container-fluid footer-bg">
    <footer class="text-black text-center text-lg-start bg-light">
        <!-- footer sub container start -->
        <div class="container p-4">
            <!-- row start -->
            <div class="row mt-4">
                <!-- column 1 -->
                <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4"><strong>NexTech</strong></h5>
                    <p class="light-grey-text">
                      Your ultimate destination for cutting-edge computer components and tech accessories.
                      Explore our vast selection for all your computing needs. NexTech - where innovation 
                      meets convenience. 
                    </p>
                </div>
                <!-- column 2 -->
                <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1"><strong>Helpful Links</strong></h5>
                    <ul class="fa-ul">
                        <li class="nav-item mb-3">
                            <a class="footer-link" aria-label="home" aria-current="page"
                                href="">Home</a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="footer-link" aria-label="projects" aria-current="page"
                                href="">Products</a>
                        </li>
                        <li class="nav-item mb-3">
                          <a class="footer-link" aria-label="projects" aria-current="page"
                              href="">Parts</a>
                        </li>
                        <li class="nav-item mb-3">
                          <a class="footer-link" aria-label="projects" aria-current="page"
                              href="">Systems</a>
                        </li>
                        <li class="nav-item mb-3">
                          <a class="footer-link" aria-label="projects" aria-current="page"
                              href="">Offers</a>
                        </li>
                    </ul>
                </div>
                <!-- column 3 -->
                <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1"><strong>Contact Us</strong></h5>
                    <ul class="fa-ul">
                        <li class="mb-3">
                            <p>Do you have any questions or suggestions?</p>
                            <span class="footer-link"><i class="fas fa-envelope"></i>
                                info@craftmasters.com</span>
                        </li>
                        <li class="mb-3">
                            <p>Do you need assistance? Give us a call</p>
                            <span class="footer-link"><i class="fas fa-phone"></i> (057)
                                934 6000</span>
                        </li>
                        <li class="mb-3">
                          <p>Send a message straight to our team!</p>
                          <a href="" class="footer-link">Contact Form</a>
                      </li>
                    </ul>
                </div>
                <!-- column 4 -->
                <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4"><strong>We are here for you</strong></h5>
                    <ul class="fa-ul">
                        <li class="mb-3">
                            <p>Monday - Thursday: <span class="open-hours">9:30 a.m - 6:00 p.m</span></p>
                        </li>
                        <li class="mb-3">
                            <p>Friday: <span class="open-hours">9:30 a.m - 3:00 p.m</span></p>
                        </li>
                        <li class="mb-3">
                            <p>Central European Time</p>
                        </li>
                    </ul>
                    <!-- social links -->
                    <div class="mt-4 footer-social-links">
                        <!-- Instagram -->
                        <a href="https://www.instagram.com/" target="_blank" class="btn btn-floating btn-lg"><i
                                class="fab fa-instagram"></i></a>
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/" target="_blank" class="btn btn-floating btn-lg"><i
                                class="fab fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a href="https://www.twitter.com/" target="_blank" class="btn btn-floating btn-lg"><i
                                class="fab fa-twitter"></i></a>
                        <!-- Pinterest -->
                        <a href="https://www.pinterest.com/" target="_blank" class="btn btn-floating btn-lg"><i
                                class="fab fa-pinterest"></i></a>
                        <!-- Google + -->
                        <a href="https://myaccount.google.com/" target="_blank" class="btn btn-floating btn-lg"><i
                                class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- footer sub container end -->
        </div>
        <!-- copyright notice -->
        <div class="text-center p-3 footer-copyright">
            NexTech © 2024. All rights reserved.
            <!-- footer main container end -->
        </div>
    </footer>
</div>
<!-- End of Footer -->

  {% block postloadjs %}
  <script type="text/javascript">
    // Displays search box when search icon is clicked
    let search = document.querySelector('.search-box');

    document.querySelector('#search-icon').onclick = () => {
      search.classList.toggle('active');
    }

    // Listens for scroll event
    document.addEventListener("DOMContentLoaded", function () {
      window.addEventListener("scroll", function () {
        var navbar = document.getElementById("outer-nav");

        // Add active class to nav background if page scrolled
        if (window.scrollY > 0) {
          navbar.classList.add("active");
        } else {
          navbar.classList.remove("active");
        }
      });
    });
  </script>
  {% endblock %}


</body>

</html>