{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="product-image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" style="border-radius: 20px;" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" style="border-radius: 20px;" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-1 font-weight-bold" style="font-size: 25px;">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-warning"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if product.in_stock %}
                    <div class="stock-tag in-stock">    
                        <p class="m-0">In Stock</p>
                    </div>
                    {% else %}
                    <div class="stock-tag not-in-stock">    
                        <p class="m-0">Not In Stock</p>
                    </div>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
